<!DOCTYPE html>
<html lang="en-ca">

  {% include head.html %}

  <body class="layout-reverse sidebar-overlay">

    <!-- This if statement decides which sidebar to use -->
    {% if page.toc %}
    {% include sidebar-toc.html %}
    {% else %}
    {% include sidebar.html %}
    {% endif %}



    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead {% if page.url == '/' %}no-margin-bottom{% endif %}">
        <div class="container">
          <h3 class="masthead-title">
            {% if page.url == '/' %}
              <a href="{{ site.baseurl }}/" title="Home">{{ site.title | newline_to_br }}</a>
            {% else %}
              <a href="{{ site.baseurl }}/trc/" title="Home">TheRedChannel.</a>
              <br><small>{{ site.tagline }}</small>
            {% endif %}
          </h3>
        </div>
      </div>
        
 
      {% if page.url == '/' %}
          <div class="hero-container">
              <div class="hero-image-container">
                  <img src="{{ site.baseurl }}/images/home.png" alt="Home Page">
              </div>

              <div class="hero-text-container">
                  {{ content }}
              </div>
          </div>    

        {% else %}
          <div class="container content" id="main">
            {{ content }}
          </div>
        {% endif %}
    </div>
    
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>

    // Highlight search Query
    var url = window.location.href;
      if (url.lastIndexOf("?q=") > 0) {
        // get the index of the parameter, add three (to account for length)
        var stringloc = url.lastIndexOf("?q=") + 3;
        // get the substring (query) and decode
        var searchquery = decodeURIComponent(url.substr(stringloc));
        // regex matches at beginning of line, end of line or word boundary, useful for poetry
        var regex = new RegExp("(?:^|\\b)(" + searchquery + ")(?:$|\\b)", "gim");
        // get, add mark and then set content
        var content = document.getElementById("main").innerHTML;
        document.getElementById("main").innerHTML = content.replace(regex, "<mark>$1</mark>");
      }

    // Toggle sidebar  
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <!-- Facebook SDK for JavaScript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '589495744558280',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <div class="wrap">
        <div class="footer">
        <div class="container">
        <div class="footer-quote">
            Nationalism and globalization do have the tendency to circumscribe our outlook and simplify matters. This is why what is increasingly needed is a sophisticated and serious blending of the emancipatory possibilities of both nationalism and internationalism. Hence, in the spirit of Walt Kelly as well as Karl Marx in a good mood, I suggest the following slogan for young scholars: <br><br> Frogs in their fight for emancipation will only lose by crouching in their murky coconut half-shells. Frogs of the world unite!<br><br>
        </div>
        <div class="footer-source">
              <a href="https://www.versobooks.com/books/2135-a-life-beyond-boundaries">Benedict Anderson</a>
        </div>
        <div class="footer-image">
             <img src="{{ site.baseurl }}/assets/frog_footer.png" alt="Footer">
        </div>
        </div>
        </div>
    </div>
  </body>
</html>